*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    background: black;
    font-family: arial;

}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.in{
    
    padding: 1px 2px;
    background: #0a2437;
    text-transform: uppercase;
    color: white;
    position:relative   ;
}
.btn{

padding: 0.2rem;
border-radius: 5px;
border: none;
position: relative;
background: #19384e;
cursor: pointer;

}
.btn ::after{

    content:  ;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 10rem;
    background: white;
    transform: translate(-50%, -50%) rotate(225deg);
    animation:animate 2s linear infinite;

}

