.div1{
    position: relative;
perspective: 100px;
width: 700px;



}

.div2{
margin: 300px;

    background: tomato;
    color: white;
font-family: arial black;
font-size: 20px;
padding: 20px;
width: 400px;
height: 400px;
text-align: center;
text-transform: uppercase;
transform-style: preserve-3d;
transform: rotatex(10deg);


}
.div1 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: arial black;
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 1px 8px white;

}

