/*Sidebar & Footer Default Style*/
/************************ Blog Widget Style************************/
.mr_post_thumbnail img {
    border-radius: 10px;
}
.metrobank_shape_animate{
	-webkit-animation: zoom-fade 8s infinite linear;
    animation: zoom-fade 8s infinite linear;
}
.widget ul{
	position:relative;	
}
.widget ul li {
    position: relative;
    display: block;
    line-height: 2.5em;
    color: #333;
}
.widget ul li a {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #141417;
}
.widget ul li a:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    left: 8px;
    top: 11px;
    opacity: 0;
    transition: all 500ms ease;
    /* background: #f17732; */
}
.widget ul li a:hover {
    padding-left: 0px;
}
.widget ul li a:hover:before {
    opacity: 1;
}
.widget ul li a:hover {
    color: #eb292c;
}

/****************Custom Widget*********************/
.widget select{
	width:100%;
	display:block;
	border:1px solid #ededed;
	padding:6px 6px;
	margin-top:15px;
	height:50px;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget ul li ul{
	padding:0px;
	margin:0px;
}
.widget ul li ul li{
	margin-left:5px;
}

.widget ul li ul li:after{
	top:10px;
}

.tagcloud a {
    position: relative;
    display: inline-block;
    line-height: 24px;
    padding: 6px 18px 6px;
    margin: 0px 6px 10px 0px;
    color: #585858;
    text-align: center;
    font-size: 14px !important;
    background-color: #ffffff;
    font-weight: 500;
    /*border: 1px solid #e4e4e4;*/
    text-transform: capitalize;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    font-family: inherit;
    border-radius: 4px;
}
.tagcloud a:hover {
    border-color: var(--theme-color);
    background: var(--theme-color) !important;
    color: #ffffff;
}

.mrsidebar{
    margin-bottom: 36px;
}

.mrsidebar .sidebar-title h3:before {
    background: -webkit-linear-gradient(0deg, #00b8ff, #03c0b4 100%);
}

.widget ul li ul.children li a:before {
    /* top: 22px; */
}
.widget ul li ul.sub-menu li a:before {
    top: 22px;
}


.wp-block-column h3 {
    position: relative;
    font-weight: 400;
    color: #141417;
    margin: 0px;
    transition: all 500ms ease;
}
.wp-block-group__inner-container h3 {
    position: relative;
    display: block;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}
p.wp-block-tag-cloud a {
    position: relative;
    display: inline-block;
    font-size: 15px !important;
    color: #141417;
    background: #f2f4f5;
    border-radius: 30px;
    padding: 3px 24px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
p.wp-block-tag-cloud a:hover {
    color: #fff;
}
p.wp-block-tag-cloud a:hover {
    background: #03c0b4;
}

.widget_categories>form{
    display: inline-block;
	width:100%;
}

.widget_search .search-form {
    background: #ebebeb;
    padding: 25px;
    position: relative;
    border-radius: 4px;
}
.mrwidget .textwidget form {
    position: relative;
    display: inline-block!important;
    width: 100%;
}
.mrwidget .rsswidget{
    font-size: 23px;
    margin-bottom: 0px;
    font-size: 16px;
    color:#141417;
    line-height: 1.8em;
}



/*** 
=============================================
    Error Page Area Style      
=============================================
***/
.error-page-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    padding: 120px 0px 120px 0px;
}

.error-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.error-content .title ,.search_title{
    position: relative;
    display: block;
    color: #141417;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    text-transform: none;
    margin: 0 0 20px;
}
.error-content p {
    color: #222;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    font-weight: 500;
}
.error-content .big-title {
    position: relative;
    display: block;
    color: #eb292c;
    font-size: 110px;
    line-height: 90px;
    font-weight: 800;
    text-transform: none;
    margin: 0 0 29px;
}
.error-content .btns-box {
    line-height: 0;
    padding-top: 42px;
}
.error-content .btns-box a {
    padding-left: 40px;
    padding-right: 40px;
}
.sidebar-widget {
    display: grid;
}

.main-footer .widget_recent_comments li.recentcomments {
    border-bottom: 1px solid #87878721;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#recentcomments li.recentcomments  {
    line-height: 2em;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.main-footer #wp-calendar caption {
    color: #fff;
}
.main-footer.monster ul li {
    color: #fff;
    line-height: 2em;
}
.main-footer .widget-title h3 {
    color: #fff;
    font-weight: 600;
    padding-top: 25px;
}

.main-footer ul li ul li {
    margin-left: 5px;
}
.tags-list a {
    margin-bottom: 10px;
}
.error_btn_box a{
	padding: 17px 25px;
	background:#222;
	transition: all 500ms ease;
	color:#fff;
	border-radius: 4px;
	font-weight: 500;
}
.error_btn_box:hover a{
	color: #fff;
	transition: all 500ms ease;
	background: #eb292c;
}
/*Error Section*/
.error-section{
	position:relative;
	padding:190px 0px 200px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

.error-section:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(26, 26, 28, 0);
}
.error-section .thm-btn1 {
    color: #f28b1d;
}

.error-section .content{
	position:relative;
}

.error-section h1 {
    position: relative;
    display: block;
    font-size: 200px;
    line-height: 150px;
    color: #161616;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.error-section h2 {
    position: relative;
    display: block;
    font-size: 44px;
    line-height: 52px;
    color: #444;
    font-weight: 600;
    margin-bottom: 21px;
    text-align: center;
}

.error-section .text {
    position: relative;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}
.search_area_df {
    background-repeat: no-repeat;
}
.error_btn{
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #fff !important;
    padding: 14px 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 500ms ease;
	background: linear-gradient(90deg, var(--c1, #ff5700), var(--c2, #ffd000 ) 50%, var(--c1, #ff5700)) var(--x, 0)/ 200%;
}
.errobtn_area{
    text-align: center;
}
.error_btn:hover{
	background:#222;
	color:#fff;
	transition: all 500ms ease;
}





.sr_title{
    font-size: 25px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 600;
}
.search_text p{
    font-size: 17px;
    color: #161616;
    font-weight: 500;
    text-align: center;
}

.search_page_btn a{
    margin-top: 20px;
    margin-bottom: 20px;
}

.search_text{
    font-size: 17px;
    color:#414141;
    font-weight: 500;
    margin-bottom: 30px;
}
.search_area_df {
    padding: 100px 0px 100px 0px;
}

.search-widget input {
    /* padding-left: 15px; */
    width: 86% !important;
    border: none !important;
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
}

.search_button{
	/* position:relative; */
	/* right:30px; */
}
.searcg_img{
	margin-bottom:30px;
}

.mrwidget{
	margin-bottom:40px;
}

.mrwidget .search-widget input {
    padding-left: 15px;
    width: 86% !important;
    border: none !important;
    background: #ffffff;
    /* padding: 10px 30px; */
    /* border-radius: 5px; */
}
.mr_search_form{
	background:#fff;
}
.mr_search .form-group {
    margin-bottom: 0px;
}


.mr_main_footer{
    background: #f9f9f9;
}
.mr_main_footer .widget-title h3{
	padding-top:30px;
}
.mr_main_footer ul li ul li {
    margin-left: 5px;
}
.mr_main_footer ul li,.mr_main_footer ul li a,.mr_main_footer p,.mr_main_footer .text{
	color:#222;
	line-height: 1.8em;
}

.mr_search_page .mr_search_form {
    background: #f4f4f4;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    line-height: 46px;
    height: 66px;
    display: inline-block;
}

.mr_search_page .mr_search_form .form-group {
    background: #ffffff;
    border-radius: 5px;
}
.mr_search_input{
	width:85%;
}
.error_btn_box{
	margin-top:30px;
}

.mr_post_details{
	/*padding-top:100px;*/
	padding-bottom:100px;
}
.mr_bread_list li, .mr_bread_list li a{
    color: #ffffff;
	z-index: 1;
}
code{
 color: #6d6d6d;
}
.rashid-comment-item  .theme-btn-six ,.comments-form-area .theme-btn-six {
	background: var(--theme-color) !important;
}
.mr_post_tags{
	display:inline-flex;
}
.mr_post_tag_icon{
	margin-right:7px;
	
}

.post-tags{
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top: 20px;
}
.mr_post_tags a {
    padding: 4px 12px;
    color: var(--text-color);
    background: rgba(247, 247, 247, 1);
    border-radius: 5px;
    border: 1px solid #eaeaea;
    display: inline-block;
    line-height: 27px;
	margin-right:5px;
	margin-bottom:5px;
}
.mr_post_tags a:hover {
    /* padding: 4px 20px; */
    background: var(--theme-color) !important;
    color: #fff;
    /* border-radius: 4px; */
    /* border: 1px solid #eaeaea; */
    /* display: inline-block; */
    /* line-height: 27px; */
    /* margin-right:5px; */
    /* margin-bottom:5px; */
}
.mr_post_thumbnail{
	margin-bottom:20px;
}

.widget_metrobank_latest_post .post {
  position: relative;
  padding-left: 95px;
  margin-bottom: 30px;
}

.widget_metrobank_latest_post figure.post-thumb {
  position: absolute;
  left: 0;
  top: 0;
}

.widget_metrobank_latest_post img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.widget_metrobank_latest_post .post h4 {
    position: relative;
    font-size: 17px;
    margin-bottom: 12px;
    font-family: var(--title-font);
    font-weight: 700;
    color: var(--title-color);
    line-height: 24px;
    text-transform: capitalize;
}

.widget_metrobank_latest_post .post h4 a{
	display: inline-block;
    color: var(--title-color);
}

.widget_metrobank_latest_post .post h4 a:hover{
	color: #eb292c !important;
}

.widget_metrobank_latest_post .post .post-date{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 18px;
    padding-left: 26px;
}

.widget_metrobank_latest_post .post .post-date i {
    position: absolute;
    left: 0px;
    top: 1px;
    font-size: 16px;
}

.widget_metrobank_latest_post .post .post-date a {
    font-size: 16px;
    color: #9a9a9a;
    font-weight: 400;
    font-family: var(--text-font);
}

.mr_post_details .news-details .inner-box {
/*     background-color: #ffffff;
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.1); */
/*     padding: 0px 15px 0px 0px; */
}

.lower-content .post-info {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 20px;
}

.lower-content .post-info .mr_post_meta i {
    margin-right: 10px;
	color:var(--theme-color) !important;
}

.lower-content .post-info .mr_post_meta a {
    color: rgba(110, 110, 110, 1);
    margin-right: 30px;
}

.sidebar-page-container .form-group.message-btn {
    margin-top: 30px !important;
}

.mr_search .form-group .search_button i {
    color: rgba(144, 144, 146, 1);
    font-size: 18px;
}